﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sistema de Compras UNAPEC</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
        <div class="side-menu">

            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="brand-wrapper">
                        <!-- Hamburger -->
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Brand -->
                        <div class="brand-name-wrapper">
                            <a class="navbar-brand" href="/">
                                Sistema Compras UNAPEC
                            </a>
                        </div>

                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">
                                <li><a href="~/PROVEEDORES/Index">Proveedores</a></li>
                                <li><a href="~/OrdenCabeceras/Index">Ordenes</a></li>
                                <li><a href="~/OrdenCabeceras/Asentar">Asentar Ordenes</a></li>
                                <li><a href="~/ARTICULOS/Index">Articulos</a></li>
                                <li><a href="~/DEPARTAMENTOS/Index">Departamentos</a></li>
                                <li><a href="~/UNIDADES/Index">Unidades de medida</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </nav>
        </div>
    <br />
    <div class="container body-content">
        <div class="side-body">
            @RenderBody()

            <hr />

            <footer class="footer">
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - UNAPEC</p>
                </div>
            </footer>
        </div>
        </div>
    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/OrdenCabeceras.js"></script>
</body>
</html>