﻿@model SistemaCompras.Models.DEPARTAMENTOS

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>DEPARTAMENTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Departamento }) |
    @Html.ActionLink("Regresar", "Index")
</p>
