﻿@model IEnumerable<SistemaCompras.Models.DEPARTAMENTOS>

@{
    ViewBag.Title = "Resumen de Departamentos";
}

<h2>Resumen de Departamentos</h2>

<p>
    <button class="btn btn-success" onclick="location.href='create'">Crear</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Departamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Departamento }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Departamento }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_Departamento })
        </td>
    </tr>
}

</table>
