﻿@model SistemaCompras.Models.ARTICULOS

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Seguro que quieres eliminar?</h3>
<div>
    <h4>ARTICULOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDADES.Descripcion_Unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDADES.Descripcion_Unidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
