﻿@model SistemaCompras.Models.ARTICULOS

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>ARTICULOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIDADES.Descripcion_Unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIDADES.Descripcion_Unidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Articulo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
