﻿@model IEnumerable<SistemaCompras.Models.ARTICULOS>

@{
    ViewBag.Title = "Resumen de Articulos";
}

<h2>Resumen de Articulos</h2>

<p>
    <button class="btn btn-success" onclick="location.href='create'">Crear</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Articulo) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca_Articulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencia_Articulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Articulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNIDADES.Descripcion_Unidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Articulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca_Articulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Existencia_Articulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIDADES.Descripcion_Unidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Articulo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Articulo }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_Articulo })
        </td>
    </tr>
}

</table>
