﻿@model IEnumerable<SistemaCompras.Models.PROVEEDORES>

@{
    ViewBag.Title = "Resumen de Proveedores";
}

<h2>Resumen de Proveedores</h2>

<p>
    <button class="btn btn-success" onclick="location.href='create'">Crear</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CedulaRNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CedulaRNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Proveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Proveedor }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_Proveedor })
        </td>
    </tr>
}

</table>
