﻿@model SistemaCompras.Models.UNIDADES

@{
    ViewBag.Title = "Borrar";
}

<h2>Delete</h2>

<h3>Seguro que quieres eliminar?</h3>
<div>
    <h4>UNIDADES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Unidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
