﻿@model IEnumerable<SistemaCompras.Models.UNIDADES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <button class="btn btn-success" onclick="location.href='create'">Crear</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Unidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Unidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estados.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Unidad }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_Unidad }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_Unidad })
        </td>
    </tr>
}

</table>
