﻿@model IEnumerable<SistemaCompras.Models.OrdenCabecera>

@{
    ViewBag.Title = "Asentar";
}

<h2>Ordenes Sin Asiento</h2>

<p>
    <button class="btn btn-success" onclick="location.href='EnviarAsiento'">Enviar Asientos</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Orden)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTAMENTOS.Nombre_Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROVEEDORES.CedulaRNC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estados.Estado)
            </td>
           
        </tr>
    }

</table>
