﻿@model SistemaCompras.Models.OrdenCabecera

@{
    ViewBag.Title = "Crear";
}

<h2>Orden</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h4>Crear</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Numero_Orden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero_Orden, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero_Orden, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_Orden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_Orden, new { htmlAttributes = new {@id="Fecha_Orden" ,@class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.Fecha_Orden, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Departamento,  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Departamento", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Departamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Proveedor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Proveedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Proveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado_Orden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Estado_Orden", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado_Orden, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total_Orden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total_Orden, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })
                @Html.ValidationMessageFor(model => model.Total_Orden, "", new { @class = "text-danger" })
                <input type="hidden" id="JsonFile" name="JsonFile" />
            </div>
        </div>
        <table class="display table-bordered" cellspacing="0" width="100%" id="OrdenDetalles" >
            <thead style="color:fff">
                <tr>
                    <th class="text-center">
                        Cantidad
                    </th>
                    <th class="text-center">
                        Articulo   
                    </th>
                    <th class="text-center">
                        Costo
                    </th>
                    <th class="text-center">
                        Operaciones
                    </th>
                </tr>
                <tr>
                    <th class="text-center">
                        <input class="form-control text-box" id="cantidadDetalle" name="cantidadDetalle" type="number" value="">
                    </th>
                    <th class="text-center">
                        @Html.DropDownList("Articulo", null, htmlAttributes: new { @class = "form-control" })
                    </th>
                    <th class="text-center">
                        <input class="form-control text-box" id="costoDetalle" name="costoDetalle" type="number" value="">
                    </th>
                    <th>
                        <a id="addRow">Agregar</a>
                        <a id="deleteRow">Eliminar</a>
                    </th>
                </tr>
            </thead>
      
            <tbody style="color:#000000">

            </tbody>
                
         
        </table>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                <input type="submit" value="Create" id="create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "/Index")
</div>
