﻿@model SistemaCompras.Models.OrdenCabecera

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrdenCabecera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.Nombre_Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTOS.Nombre_Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDORES.CedulaRNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDORES.CedulaRNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estados.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "/Index")
        </div>
    }
</div>
