﻿@model SistemaCompras.Models.OrdenCabecera

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>OrdenCabecera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.Nombre_Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTOS.Nombre_Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDORES.CedulaRNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDORES.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estados.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.Estado)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Cantidad
        </th>
        <th>
            Costo
        </th>
        <th>
            Articulo
        </th>
    </tr>
    @foreach (var item in Model.OrdenDetalle)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo_Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ARTICULOS.Descripcion_Articulo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "OrdenDetalles", new {  id=item.Id_OrdenDetalle  }, null) |
                
            </td>
           
        </tr>
        
    }
    </table>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id_OrdenCabecera }) |
        @Html.ActionLink("Regresar", "/Index")
    </p>
