﻿@model SistemaCompras.Models.OrdenDetalle

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>OrdenDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTICULOS.Descripcion_Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULOS.Descripcion_Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenCabecera.Id_OrdenCabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenCabecera.Id_OrdenCabecera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar", "Index")
</p>
