﻿@model IEnumerable<SistemaCompras.Models.OrdenDetalle>

@{
    ViewBag.Title = "Detalles de la Orden";
}

<h2>Detalles de la Orden</h2>

<p>
    <button class="btn btn-success" onclick="location.href='create'">Crear</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARTICULOS.Descripcion_Articulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenCabecera.Id_OrdenCabecera)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARTICULOS.Descripcion_Articulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenCabecera.Id_OrdenCabecera)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Borrar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
